.main{
    height: 100vh;
}

.panel, .body{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

.panel{
    box-shadow: 0 2px 2px #333;
}

.body-head, .panel-head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.body-head{
    background: linear-gradient(0deg, #0963be 0%, #004799 100%);
    color: #fff;
}

.panel-head{
    background: linear-gradient(0deg, #053361 0%, #00244d 100%);
    color: #fff;
}

.panel-body{
    flex: auto;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(243, 243, 243);
    /* box-shadow: 0 4px 2px black; */
}

.toogle-button{
    border: none;
    background: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

.calendar{
    font-size: 1.5rem;
}

.list-group-head{
    text-transform: uppercase;
    color: #002147;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.body-head-tools span{
    margin: 0 1rem;
}

.body-container{
    padding: 1rem;
}

/* Tips and tools */

ul{
    list-style: none;
}

/* JS tips */

.hidde{
    display: none;
}

.panel_no_flex{
    width: initial !important;
}